body{/*corpo*/
    background-color: rgba(118, 166, 255, 0.952);/*cor de fundo*/
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;/*fonte*/
    color: #333333; /*cor da fonte*/
} 
h1{/*linha*/
    text-decoration: underline;/*"decorar a fonte"//underline=sublinhar*/
    font-style: italic;/*=italico*/
}
h2{
    font-family: 'Times New Roman', Times, serif;/*serifa(melhor para dislexicos*/
    font-weight: bold;/*negrito*/
}
header{
    background-color: cornflowerblue;/*cor de fundo*/
    margin: 0 5px 0 5px;/*margem*/
    border-radius: 10px;/*arredondar a borda*/
    text-align: center; /*alinhar o texto/centro*/
    border:solid 2px rgb(0, 47, 255);
}
nav{/*"caixiha"*/
    background-color: #1a5cb3;
    border: solid 2px #0011fa; 
    border-style: inset;
    border-radius: 10px;
    width: 100%;
}
ul{
    display: flex;
    flex-direction: row;
    padding: 0;
}
li{
    list-style: none;
    width: 20%;
    text-align: center;
}
a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #4000b8;
}
a:hover{
    color: rgb(97, 41, 252);
    font-size: 18px;
   /* transition: all 0.3s;*/
 }
 div{
    background-color:rgb(0, 132, 255) ;
    width: 100px;
    height: 100px;
    transition: all 0.8s;
 }
 /*a:hover{
    background-color: rgb(97, 41, 252);
    border-radius: 50px;
    transition: all 0.8s;
 }